<% provide(:title, "About") %>
<h1>About</h1>

<a href='https://mkt.com/inessencedancecompany' class='sq-embed-menu' data-menu-item-images='large' data-menu-accent-color='b6b7b8' data-menu-template='column' data-menu-border='show' data-menu-item-descriptions='show' >Order Online</a>
<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>