<div class="center jumbotron">
  <h1>DanceFest</h1>

  <h2>
    This is the home page of Latin Dance Festivals. Create dance festivals. Add information, schedule and tickets and starting selling! 
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>

 
</div>
