<td style="width: 90px; height: 25px">
  <%= @sub_event.hour.strftime("at %I:%M%p") %>
</td>
<td>
  <%= @sub_event.description %>
</td>
<td class="actions">
<%= smart_listing_item_actions [{ name: :edit, url: edit_event_day_sub_event_path(@event, @day, @sub_event) }, 
  { name: :destroy, url: event_day_sub_event_path(@event, @day, @sub_event) , confirmation: "Are you sure you want to delete this?" }] %>
</td>

