<!--Find me at users/user_overview.html.erb -->

<!--Header-->
<div class='pt50'>
	<h3 class='anw anx'>Overview</h3>
</div> 
<!--Header--> 
<hr>    

   <%= image_tag('https://s3.amazonaws.com/dancefestimages/static_images/map.png', :class => "img-responsive") %>
 
