<% provide(:title, @user.first_name) %>
<!--User Navigation-->
<div class ='container col-md-12'>
  <div class=" col-md-3 list-group pt100">
    <%= render(:partial => 'users/user_nav')%>
  </div>
  <div class="col-md-9">
    <!-- Tab panes -->
      <div class="row">
        <!-- Overview -->
        <div class="tab-content col-sm-12">
          <div class="tab-pane active" id="overview">
            <%= render(:partial => 'users/user_overview')%>
          </div>
           <!-- Orders -->
          <div class="tab-pane" id="order">
            <%= render(:partial => 'users/user_orders')%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: 'subscription/plans', locals: {plans: @plans} %>  
        </div>
      </div>
  </div>
</div>

