<<<<<<< HEAD
<<<<<<< HEAD
<% provide(:title, @user.name) %>
=======
<% provide(:title, @user.first_name) %>
>>>>>>> remotes/origin/stripe_payment
=======
<% provide(:title, @user.first_name) %>
>>>>>>> 82ca29f8762af4a0ecb66ff8760fdec04040b46f
<!--User Navigation-->
<%= render(:partial => 'users/user_nav')%>

<div class="col-md-9">
  <!-- Tab panes -->
    <div class="tab-content">
      <!-- Overview -->
      <div class="tab-pane active" id="overview">
        <%= render(:partial => 'users/user_overview')%>
      </div>
       <!-- Orders -->
      <div class="tab-pane" id="order">
        <%= render(:partial => 'users/user_orders')%>
      </div>
    </div>
</div>




