<% provide(:title, @user.name) %>
<!--User Navigation-->
<%= render(:partial => 'users/user_nav')%>

<div class="col-md-9">
  <!-- Tab panes -->
    <div class="tab-content">
      <!-- Overview -->
      <div class="tab-pane active" id="overview">
        <%= render(:partial => 'users/user_overview')%>
      </div>
       <!-- Orders -->
      <div class="tab-pane" id="order">
        <%= render(:partial => 'users/user_orders')%>
      </div>
    </div>
</div>




