<div class ='container col-md-12'>
	<div class="list-group col-md-4">
	  <%= link_to('Event Details', {:controller => 'events', :action => 'show', :id => @event.id}, :class =>'list-group-item active')%>
	  <%= link_to('Edit Event', {:controller => 'events', :action => 'edit', :id => @event.id}, :class =>'list-group-item')%>
	  <%= link_to('View Tickets', {:controller => 'tickets', :event_id => @event.id}, :class =>'list-group-item')%>
</div>