<div class="row">
	<h3>Event Calendar</h3>
	<hr>
<!-- Navigation Buttons -->
  	<div class=" col-md-3">
    	<ul class="nav nav-pills nav-stacked border" id="myTabs">
    		<% @event.days.each do |day| %>
    			<% if day.persisted? %>
      				<li><%= link_to day.name, day_path(day.name, :anchor => "day_#{day.id}"),:class => 'calendar-box' %></li>
      			<%end%>
         	<%end%>
    	</ul>
    </div>
  <!-- Content -->
  <div class="col-md-9">
    <div class="tab-content">
    	<% @event.days.each do |day| %>
      		<%= div_for(day, class: "tab-pane") do |day| %>
  				 <% day.sub_events.each do |subevent| %>
  				<li> <%= "#{subevent.hour.strftime(" %I:%M%p")}"%> - <%= "#{subevent.description}" %> </li>
  				  <% end %>
			<% end %>
		<% end %>
    </div>
  </div>
</div>

<!-- Enable the tabs -->
<script type="text/javascript">
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });
</script>




