<h1>My Festivals</h1>
<%= link_to('Create Festival', {:action => 'new'} , :class => 'btn btn-primary')%> <br>

<div class="well col-md-8 col-md-offset-2">
<% @events.each do |event| %>
<%= event.event_name %> </br>
	<%= link_to('Edit', {:action => 'show', :id => event.id})%>
	<%= link_to('delete', {:action => 'delete', :id => event.id}, :class => 'pull-right')%> <br>
	<hr>
<% end %>
</div>


