<% provide(:title, "Ticket List") %>
<%= render(:partial => 'shared/event_nav') %>
<div class="well col-md-7 col-lg-offset-1 ">
  <div class="new_schedule">
    <%= render(:partial => 'new_schedule') %>
  </div>
</div>
<div class="well col-md-7 col-lg-offset-1 ">
  <div class="schedule_show">
    <%= render(:partial => 'event_schedule') %>
  </div>
</div>
