<div class='bb'>
<h2> Purchase Preview </h2>
</div> 
</br>
  <% sum = 0 %>
  <% tickets = build_ticket_hash(@order.entitlements) %>
  <% tickets.each do |ticket_id, quantity| %>
  <% ticket = Ticket.select(:ticket_name, :ticket_price).find_by(id: ticket_id) %>
 <center> <h4> <%= ticket.ticket_name %>  (<%= quantity %>) </h4> </center>
  <% number_to_currency(ticket.ticket_price) %> </br>
  <% sum += (ticket.ticket_price * quantity.to_i) %> 
  <% end %>
<center>
  fee: <%= number_to_currency(count_fee(sum)) %>
  total: <%= number_to_currency(total(sum)) %>
</center>