<div class="jumbotron">
  <h1>Welcome to DanceFest</h1>
 <center> <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Festivals</a></p> </center>
</div>


<div class='col-md-4'>
	<h2><b>Upcoming Festivals</b></h2>
<% @events.each do |event| %>
<%= event.event_name %><br>
 <%= link_to('View Event', {:action => 'show', :event_url => event.event_url})%> 
 <hr>
<% end %>
</div>

