<%= image_tag("", class: "banner")%>

<div class="row event_section">
        <ul class="list-group col-lg-3 cds">
        <%@events.each do |event| %>
        <li class= 'text-right lne'><%= link_to(event.event_name, {:action => 'show', 
            :event_url => event.event_url}, :class => 'alink')%><li>
         <% end %>   
        </ul>
        <div class="col-lg-3 hea col-lg-offset-4">
                <h3>Featured Festivals</h3>
        </div>
</div>




