<div class="w-section section hero">
	<div class="w-container">
		<h1 class="hero-heading">DanceFest.io</h1>
		<p class="hero-subhead">Dedicated to the dancers of the world. Dance on my friends.</p>
    </div>
    <!--event section-->
    <div class='row pt150'>
		<div class="col-md-8 col-md-offset-2 event-box">
		<!--event boxes-->		
			<div class = 'col-md-3 col-md-offset-1 event-thumb'>
				<img class='img-responsive' src="http://placehold.it/350x350">
			</div>	
			<div class = ' col-md-3 event-thumb'>
				<img class='img-responsive' src="http://placehold.it/350x350">
			</div>
			<div class = ' col-md-3 event-thumb'>
				<img class='img-responsive' src="http://placehold.it/350x350">
			</div>
			<div class = 'col-md-3 col-md-offset-1 event-thumb'>
				<img class='img-responsive' src="http://placehold.it/350x350">
			</div>	
			<div class = ' col-md-3 event-thumb'>
				<img class='img-responsive' src="http://placehold.it/350x350">
			</div>
			<div class = ' col-md-3 event-thumb'>
				<img class='img-responsive' src="http://placehold.it/350x350">
			</div>
		<!--end of event boxes-->
		</div>
	</div>
	<div class='row well' style='height:500px; background-color=''>
 	</div>
</div>









