%h3
  %span.pull-left Michael Lewis
  %a#closeRight2.pull-right{:href => "javascript:void(0);"}
    %i.fa.fa-angle-right
.slimscroll.chat
  .chat-item.chat-item-left
    .chat-image
      = image_tag("avatar3.png")
    .chat-message
      Duis aute irure dolor?
  .chat-item.chat-item-right
    .chat-message
      Lorem ipsum dolor sit amet, dapibus quis, laoreet et.
  .chat-item.chat-item-left
    .chat-image
      = image_tag("avatar3.png")
    .chat-message
      Ut ullamcorper, ligula.
  .chat-item.chat-item-right
    .chat-message
      In hac habitasse platea dict umst. ligula eu tempor eu id tincidunt.
  .chat-item.chat-item-left
    .chat-image
      = image_tag("avatar3.png")
    .chat-message
      Curabitur pretium?
  .chat-item.chat-item-right
    .chat-message
      Etiam tempor. Ut tempor! ull amcorper.
.chat-write
  %form.form-horizontal{:action => "javascript:void(0);"}
    %input.form-control{:placeholder => "Say something", :type => "text"}/
