%header
  %h3 DEMOS
.col-md-6.demo-block.demo-selected.demo-active
  %p
    Dark
    %br>/
    Design
.col-md-6.demo-block
  %a{:href => "../admin2/index.html"}
    %p
      Light
      %br>/
      Design
.col-md-6.demo-block
  %a{:href => "../admin3/index.html"}
    %p
      Material
      %br>/
      Design
.col-md-6.demo-block.demo-coming-soon
  %p
    Horizontal
    %br>/
    (Coming)
.col-md-6.demo-block.demo-coming-soon
  %p
    Coming
    %br>/
    Soon
.col-md-6.demo-block.demo-coming-soon
  %p
    Coming
    %br>/
    Soon
                                
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
