<div class ='container col-md-12'>
  <div class="list-group col-md-3 pt100">
  	<h3 class ='tq'>event dashboard</h3>
    	<%= active_link_to('Overview', events_path , :class =>'list-group-item', :active => [['events'], ['index']]) %>
    	<%= active_link_to('Create Festival', new_event_path , :class =>'list-group-item')%>
</div>  
