<footer class="navbar navbar-default navbar-fixed-bottom">
  <small>
    <a href="#">More Dance. Less Wars.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to("About", {:controller => 'static_pages', :action => 'about'}) %></li>
      <li><%= link_to("Contact", {:controller => 'static_pages', :action => 'contact'}) %></li>
    </ul>
  </nav>
</footer>