<footer class="navbar navbar-default navbar-fixed-bottom">
  <small>
    <a href="#">More Dance. Less Wars.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to("About", about_path) %></li>
       <li><%= link_to("Help", help_path) %></li>
      <li><%= link_to("Contact", contact_path) %></li>
    </ul>
  </nav>
</footer>